@charset "UTF-8";

.menu-users {
	background-color: var(--primary-color-sys) !important;
}

.menu-users:hover {
	background-color: var(--primary-color-sys-mouse) !important;
}

.menu-users .ui-menuitem-text {
	color: var(--white) !important;
}

.menu-users .ui-menuitem-icon {
	color: var(--white) !important;
}